<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">eBootcamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" href="/carrito"
            >Carrito
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              <%= contador %>
            </span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/categoria/camisetas">Camisetas</a>
            </li>
            <li>
              <a class="dropdown-item" href="/categoria/pantalones"
                >Pantalones</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/categoria/zapatillas"
                >Zapatillas</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/">Todas</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex" method="POST" action="/buscar">
        <select class="form-select" name="filtro">
          <option selected>Buscar por...</option>
          <option value="prod">Producto</option>
          <option value="precio">Precio</option>
          <option value="cate">Categoría</option>
        </select>
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          name="busqueda"
        />
        <button class="btn btn-outline-info" type="submit">Buscar</button>
      </form> -->
    </div>
  </div>
</nav>
