<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejemplo de Plantilla EJS</title>
  </head>
  <body>
    <a href="/inicio">Nueva Tarea</a> - <a href="/listado">Listado de Tareas</a>
  </body>
</html>
